.chat_main
  .chat_main__group-info
    .chat_main__group-info__left-box
      = @group.name
      .chat_main__group-info__left-box__bottom-box
        - @group.users.each do |u| 
          Member:
          = u.name
    .chat_main__group-info__right-box
      = link_to edit_group_path(@group), class: "btn" do
        Edit

  .chat_main__message-list
    .messages
      = render @messages
        
        

  .chat_main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image-file'
      = f.submit 'Send', class: 'submit-btn'